@modalText: #777;
@modalLightBorder: #ccc;
@modalDarkBorder: #666;
@modalBackground: #fafafa;
@hoverColor: #4182a0;

.octCurtain {
  position:   fixed;
  top:        0;
  left:       0;
  width:      100%;
  height:     100%;
  z-index:    9999;
  background: #ddd;
  opacity:    0.7;
}

.octShowSettingsMenu {
  padding:                    5px;
  position:                   absolute;
  right:                      35px;
  border:                     1px solid @modalLightBorder;
  border-top:                 0;
  border-bottom-left-radius:  3px;
  border-bottom-right-radius: 3px;
  background-color:           @modalBackground;
  cursor:                     pointer;
  width:                      20px;
  height:                     20px;
}

.octShoutForm > * {
  margin: 5px;
}

.octAlignRight {
  text-align: right;
}

.octShoutForm > span:first-child {
  font-size:   1.4em;
  display:     block;
  text-align:  center;
  text-shadow: 0 0 2px #ccc;
}

.octSubHeading {
  font-size: 1.3em;
}

.octModalContainer {
  color:              #222;
  position:           fixed;
  display:            none;
  z-index:            10000;
  border:             2px solid @modalDarkBorder;
  border-radius:      4px;
  background:         @modalBackground;
  width:              600px;
  height:             400px;
  margin-top:         -202px;
  margin-left:        -302px;
  top:                50%;
  left:               50%;
  -webkit-box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    2px 2px 12px 0 rgba(0, 0, 0, 0.5);
  box-shadow:         2px 2px 12px 0 rgba(0, 0, 0, 0.5);

  &.show {
    display: block;
  }

  .octContent {
    width:     588px;
    margin:    5px;
    height:    388px;
    position:  relative;
    border:    1px solid @modalLightBorder;
    font-size: 1.1em;
  }

  label {
    display:       block;
    margin-bottom: 5px;
  }

  label span:first-child {
    margin-top:    15px;
    margin-bottom: 5px;
    display:       block;
  }

  fieldset {
    border:  none;
    padding: 10px 0;
  }

  legend {
    text-shadow:    0 0 2px #ccc;
    padding:        5px 15px;
    font-size:      1.1em;
    letter-spacing: 1px;
    border-bottom:  1px solid #222;
    display:        block;
  }

  label:hover {
    color: @hoverColor;

    input, select, textarea {
      border: 1px solid @hoverColor;
    }
  }

  textarea:focus, input:focus, select:focus {
    outline: 0;
  }

  textarea {
    min-height: 5em;
  }

  textarea, input[type=text], input[type=number] {
    min-width:      50%;
    padding:        5px;
    font-size:      1.1em;
    letter-spacing: 1px;
    line-height:    1.3em;
    border:         1px solid;
    border-radius:  4px;
    font-family:    Arial, serif;
  }
}

.octGearSVG {
  background-image:    url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' version=\'1.1\' x=\'0\' y=\'0\' width=\'512\' height=\'512\' viewBox=\'0 0 512 512\' enable-background=\'new 0 0 512 512\' xml:space=\'preserve\'><path d=\'M462 280.7v-49.4l-46.4-16.5c-3.9-15.1-9.9-29.3-17.7-42.4l0.1-0.1 21.2-44.5 -35-35 -44.5 21.2 -0.1 0.1c-13.1-7.8-27.4-13.8-42.4-17.7L280.7 50h-49.4L214.8 96.4c-15.1 3.9-29.3 9.9-42.4 17.7l-0.1-0.1 -44.5-21.2 -35 35 21.2 44.5 0.1 0.1c-7.8 13.1-13.8 27.4-17.7 42.4L50 231.3v49.4l46.4 16.5c3.9 15.1 9.9 29.3 17.7 42.4l-0.1 0.1 -21.2 44.5 35 35 44.5-21.2 0.1-0.1c13.1 7.8 27.4 13.8 42.4 17.7L231.3 462h49.4l16.5-46.4c15.1-3.9 29.3-9.9 42.4-17.7l0.1 0.1 44.5 21.2 35-35 -21.2-44.5 -0.1-0.1c7.8-13.1 13.8-27.4 17.7-42.4L462 280.7zM256 338.4c-45.5 0-82.4-36.9-82.4-82.4 0-45.5 36.9-82.4 82.4-82.4 45.5 0 82.4 36.9 82.4 82.4C338.4 301.5 301.5 338.4 256 338.4z\'/></svg>");
  background-repeat:   no-repeat;
  background-position: center center;
  background-size:     90% 90%;
}

.octOverlay {
  position: absolute;

  &.show {
    display: block;
  }
}

.octHoverPreview {
  z-index:       10000;
  display:       none;
  border:        2px solid @modalLightBorder;
  overflow:      hidden;
  border-radius: 4px;
}

.octTab {

  .octTabRow {
    list-style:       none;
    margin:           0;
    background-color: #222;
    padding:          10px 0 0 0;
    width:            100%;
    border-bottom:    1px solid @modalLightBorder;

    & > li {
      display: inline-block;
      cursor:  pointer;
    }
  }

  .octTabHead {
    text-shadow:             0 0 2px #d9d9d9;
    display:                 block;
    padding:                 10px 20px;
    font-size:               1.1em;
    text-transform:          uppercase;
    border:                  1px solid @modalText;
    border-bottom-width:     0;
    border-top-right-radius: 3px;
    border-top-left-radius:  3px;
    margin-left:             5px;

    &:hover {
      color: @hoverColor;
    }

    &.selected {
      background: #feffff;
      background: -moz-linear-gradient(top, #feffff 0%, #f4f4f4 12%, #ffffff 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feffff), color-stop(12%, #f4f4f4), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #feffff 0%, #f4f4f4 12%, #ffffff 100%);
      background: -o-linear-gradient(top, #feffff 0%, #f4f4f4 12%, #ffffff 100%);
      background: -ms-linear-gradient(top, #feffff 0%, #f4f4f4 12%, #ffffff 100%);
      background: linear-gradient(to bottom, #feffff 0%, #f4f4f4 12%, #ffffff 100%);
      filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr="#feffff", endColorstr="#ffffff", GradientType=0);
    }

    &.deselected {
      background: #feffff;
      background: -moz-linear-gradient(top, #feffff 75%, #f4f4f4 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, #feffff), color-stop(100%, #f4f4f4));
      background: -webkit-linear-gradient(top, #feffff 75%, #f4f4f4 100%);
      background: -o-linear-gradient(top, #feffff 75%, #f4f4f4 100%);
      background: -ms-linear-gradient(top, #feffff 75%, #f4f4f4 100%);
      background: linear-gradient(to bottom, #feffff 75%, #f4f4f4 100%);
      filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr="#feffff", endColorstr="#f4f4f4", GradientType=0);
    }
  }
}

.octTabBody {
  width:     100%;
  height:    100%;
  padding:   5px;
  font-size: 1.3em;
}

.octDisplayNone {
  display: none;
}

.octDisplayBlock {
  display: block;
}
